/* Reset default styles */

body,
h1,
p,
ul,
li,
img {
    margin: 0;
    padding: 0;
}


/* Global styles */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


/* Header styles */

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    font-size: 36px;
}


/* Gallery styles */

.gallery {
    background-image: url('https://images.hdqwalls.com/wallpapers/nature-background.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.photo {
    float: left;
    width: 30%;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.img-div {
    height: 300px;
    overflow: hidden;
}

.img-div img {
    /* max-width: 100%;
  height: auto; */
    width: 100%;
    /* Set the image width to 100% of its container */
    height: 100%;
    /* Set the image height to 100% of its container */
    object-fit: cover;
}

.photo:hover {
    transform: scale(1.05);
}

.caption {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
}


/* Navigation controls */

.controls {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0px 20px 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}


/* Footer styles */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}